#header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  border: 1px black solid;
  padding-bottom: 20px;
}

#primeiraLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#segundaLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#terceiraLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#quartaLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#quintaLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

#sextaLinha {
  justify-content: center;
  margin-top: 10px;
  display: flex;
}

.quadradoTexto {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
}

.inputText {
  border: 1px black solid;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  text-size-adjust: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;
  background-color: white;
}

.confirmaClass {
  margin-left: 10px;
  height: 50px;
  width: 50px;
}

.exemplo {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  text-align: center;
}

#exemplo1 {
  display: flex;
}

#letraCerta {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  background-color: green;
}

#letraCerta2 {
  border: 1px solid rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  background-color: red;
}

#comoJogar {
  display: none;
  flex-direction: column;
  align-items: center;
}

#buttonReset {
  margin-left: 10px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

#info {
  margin-left: 10px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

#fechaMenu {
  margin-left: 10px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;
}

#testee {
  display: flex;
  justify-content: center;
}

#teclado {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linhaTeclado {
  display: flex;
}

.tecla {
  border: 1px black solid;
  width: 50px;
  height: 50px;
  margin: 3PX;
}

.oi {
  border: 5px black solid;
}

#enter2 {
  display: none;
}

#enter3 {
  display: none;
}

#enter4 {
  display: none;
}

#enter5 {
  display: none;
}

#enter6 {
  display: none;
}